.button {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: #1f2937;
}

.button:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
}