.input {
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    border-color: black;
}