.container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.inputWrapper {
    width: 100%;
    position: relative;
}

@media (min-width: 768px) {
    .inputWrapper {
        width: 20rem;
    }
}